*{
    margin: 0;   
    padding: 0;
    box-sizing: border-box;  
 }

body {
    font-family: Roboto, sans-serif;
    background-color: var(--background-color);
}
p{
    font-family: var(--textFont-primario);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: var(--textFont-secundario);
}
button{
    font-family: var(--textFont-primario);
}
ul, li {
    padding: 0;
}

/*VARIABLES*/

:root{
    --textFont-primario:"Poppins", sans-serif;
    --textFont-secundario:"Noto Serif", serif;
}